@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media (pointer: fine) {
    .button-hover {
      border-color: rgba(0, 0, 0, 0.4);
      transition: border-color 0.2s, transform 0.2s;
    }
    .button-hover-dark {
      border-color: rgba(255, 255, 255, 0.4);
      transition: border-color 0.2s, transform 0.2s;
    }
  }
  .shadow-red {
    box-shadow: 0 0 14px 3px rgba(255, 0, 0, 0.46);
  }
  .shadow-red-dark {
    box-shadow: 0 0 22px 6px rgba(255, 0, 0, 0.59);
  }
  .shadow-yellow {
    box-shadow: 0 0 15px 6px rgba(255, 238, 0, 0.28);
  }
}

:root {
  --color: #000000;
  --bg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #ffffff;
    --bg-color: #000000;
  }
}

*::-webkit-scrollbar {
  overflow: overlay;
  height: 12px;
  width: 7px;
  position: absolute;
}

*::-webkit-scrollbar-track {
  overflow: overlay;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  overflow: overlay;
  background-color: gray;
  border-radius: 5px;
}

body {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--color) !important;
  transition: background-color 5000s ease-in-out 0s;
}
