@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media (pointer: fine) {
    .button-hover {
      border-color: rgba(0, 0, 0, 0.4);
      transition: border-color 0.2s, transform 0.2s;
    }
    .button-hover-dark {
      border-color: rgba(255, 255, 255, 0.4);
      transition: border-color 0.2s, transform 0.2s;
    }
  }
  .shadow-red {
    box-shadow: 0 0 14px 3px rgba(255, 0, 0, 0.46);
  }
  .shadow-red-dark {
    box-shadow: 0 0 22px 6px rgba(255, 0, 0, 0.59);
  }
  .shadow-yellow {
    box-shadow: 0 0 15px 6px rgba(255, 238, 0, 0.28);
  }
}

:root {
  --color: #000000;
  --bg-color: #ffffff;
  --scrollbar: #e2e2e2;
}

[class='dark'] {
  --color: #ffffff;
  --bg-color: #000000;
  --scrollbar: #2b2b2b;
}

.ymaps3x0--map-copyrights {
  flex-direction: column-reverse !important;
  align-items: end !important;
  gap: 0px !important;
  bottom: 4px !important;
  right: 4px !important;
}

@media all and (display-mode: fullscreen) {
  .ymaps3x0--map-copyrights {
    bottom: 16px !important;
    right: 12px !important;
  }
}

@media all and (display-mode: standalone) {
  .ymaps3x0--map-copyrights {
    bottom: 16px !important;
    right: 12px !important;
  }
}

.ymaps3x0--map-copyrights__text {
  display: none;
}

.ymaps3x0--map-copyrights__container {
  backdrop-filter: blur(25px);
  background-color: transparent !important;
  border-radius: 6px !important;
}

.ymaps3x0--map-copyrights__user-agreements {
  opacity: 0.5;
  color: rgb(0, 0, 0) !important;
  text-decoration: none !important;
  font-family: '__Inter_0245cf', '__Inter_Fallback_0245cf' !important;
}

[class='dark'] {
  .ymaps3x0--map-copyrights__user-agreements {
    color: rgb(255, 255, 255) !important;
  }
}

*::-webkit-scrollbar {
  overflow: overlay;
  height: 12px;
  width: 4px;
  position: absolute;
  cursor: grab;
}

*::-webkit-scrollbar-track {
  overflow: overlay;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  overflow: overlay;
  background-color: var(--scrollbar);
  border-radius: 5px;
}

body {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.my-marker {
  transform: translate(-2px, -20px);
}

.my-marker__pin {
  border-radius: 50% 50% 50% 0;
}

.my-marker__pin::after {
  position: absolute;

  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em;

  content: '';

  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.my-marker__animation {
  box-shadow: 0 0 0 3px #fe1313;
  animation: activateMarker 2s infinite linear;
}

.my-marker__animation-delay {
  animation-delay: 1s;
}

.popup__text {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;
  padding: 16px 24px;

  text-align: center;
}

.popup__alert-btn {
  margin-top: 10px;

  font-family: inherit;
  cursor: pointer;

  border: none;
  border-radius: 5px;
}

.popup__close {
  position: absolute;
  top: -15px;
  right: -25px;

  width: 24px;
  color: #000;
}

.popup__close:hover {
  cursor: pointer;
}

@keyframes activateMarker {
  0% {
    opacity: 1;

    transform: scale(0.1);
  }

  100% {
    opacity: 0;

    transform: scale(1.5);
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.right-popup {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;
  padding: 15px 15px 30px;

  text-align: center;

  color: #000;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 6px 18px -5px #fddf7f;
}

.right-popup__close,
.left-popup__close {
  align-self: flex-end;

  width: 30px;

  font-size: 20px;
  cursor: pointer;

  color: #c0c5cb;
  border: none;
  background-color: transparent;
}

.right-popup__img {
  width: 82px;
}

.right-popup p {
  margin-bottom: 15px;

  font-size: 16px;
}

.right-popup__accept {
  width: 70%;
  padding: 10px;

  font-size: 14px;
  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ed6755;
  box-shadow: 0 6px 18px -5px rgba(237, 103, 85, 1);
}

.left-popup {
  display: flex;
  overflow: hidden;

  width: 500px;
  height: 300px;

  border-radius: 10px;
  background: rgb(240, 240, 240);
  box-shadow: 0 0 40px -10px #000;
}

.left-popup__img {
  display: block;

  width: 55%;
  height: inherit;

  background-size: cover;
}

.left-popup__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  box-sizing: border-box;
  width: 45%;
  height: 100%;
  padding: 15px;
}

.left-popup__title {
  margin: 0;

  font-size: 18px;

  color: rgb(60, 60, 70);
}

.left-popup__text {
  margin: 0;

  font-size: 13px;
}

.left-popup__item {
  display: flex;
  align-items: center;

  font-size: 12px;
}

.left-popup__item img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.left-popup__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100px;
  height: 70px;
  margin: 0 auto;
  padding: 5px;

  cursor: pointer;

  color: #546973;
  border: 2px solid #78909c;
  border-radius: 8px;
  background: none;
}

.left-popup__close {
  position: absolute;
  top: -15px;
  right: -20px;

  width: 24px;
  padding: 0;
}

.left-popup__btn:hover {
  color: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
}

.left-popup__btn-img {
  width: 100%;
  height: 70%;

  opacity: 0.7;
  object-fit: contain;
}

.left-popup__btn:hover .left-popup__btn-img {
  opacity: 1;
}
